[submodule "themes/pixyll"]
	path = themes/pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll.git
[submodule "public"]
	path = public
	url = git@github.com:mortbauer/mortbauer.github.io
	branch = master
